.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90vw;
  padding: 4rem 4rem 4rem;
}

@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-slide-down {
    animation: slideDown 0.5s ease-out forwards;
  }

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.carousel-arrows {
  margin: 2rem 0 4rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.carousel-arrow {
  font-size: 2.5rem;
}
.carousel-arrow:hover {
  cursor: pointer;
  color: var(--accent-color-2);
}
.services-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 1rem;
  text-align: left;

  padding: 1.5rem;
  width: 18rem;
  height: 20rem;

  box-shadow: 5px 5px 10px 0px #888888;
}

.service:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
  cursor:pointer;
}
.service-icon img {
  height: 3rem;
  margin-bottom: 1rem;
}

.service-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-wrap: wrap;
  margin: 0;

  color: var(--accent-color-2);
}

.line {
  width: 30%;
  height: 3px;
  background-color:var(--accent-color);
}
