
  /*Scrollbar.css*/
  
  /* Track */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5a5a5b59;
    border-radius: 12px;
    height: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }
  
  /* Track when the content is being scrolled */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Add a slight border around the scrollbar */
  ::-webkit-scrollbar-track-piece {
    border: 0px solid #2b2b2b4c;
    height: 5px;
  }